
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <select id = "findByUser_id" resultType = "com.entity.User">
        select * from user where user_id = #{user_id}
    </select>

    <select id = "findByUser_password" resultType = "com.entity.User">
        select * from user where user_id = #{user_id} and user_password = #{user_password}
    </select>

    <insert id="insert_user" useGeneratedKeys="true" keyProperty="user_id">
    insert into user(user_name,user_password,user_sex,user_tel,user_comment,user_login)
    values (#{user_name},#{user_password},#{user_sex},#{user_tel},#{user_comment},#{user_login});
    </insert>

    <update id="update">
    update user
    set user_password = #{user_password},user_name = #{user_name},
    user_sex = #{user_sex},user_tel = #{user_tel}
    where user_id=#{user_id}
    </update>

    <delete id="delete">
        delete from user
        where user_id = #{user_id};
    </delete>

    <select id="findByUser_name" resultType = "com.entity.User">
        select * from user where user_name = #{user_name}
    </select>
</mapper>